profiles {
    standard { includeConfig "config/standard.conf" }
    docker { includeConfig "config/docker.conf" }
    singularity { includeConfig "config/singularity.conf" }
    slurm { includeConfig "config/slurm.conf" }
    test { includeConfig "config/test.conf" }
    init { includeConfig "config/init.conf" }
}

params {
    reads = "${baseDir}/test/*_R{1,2}.fq.gz"
    outdir = "result"
    report = "report"
    mode = "all"                // ["fastqc", "clean", "all"]

    path_gmst = "${HOME}/usr/opt/GeneMarkS-T"

    // fastp
    leftcutR1 = 15
    leftcutR2 = 15
    rightcutR1 = 3
    rightcutR2 = 3
    reads_min_len = 30
    reads_min_qual = 20

    // decontam
    decontam = false
    decontam_ref = ""
    decontam_minid = 0.97

    // normalize
    normalize = false
    norm_min = 5
    norm_max = 100

    salmon_numBootstraps = 100
    emapper_data_dir = "${HOME}/data2/db/eggnog/eggnog-mapper-data"
    db_phrog = "${HOME}/data2/db/phrogs/20220619/mmseqs_msa2hhm/phrog_mmseqs_msa2hhm"
}



dag {
    enabled = true
    file = "${params.report}/runinfo/execution_flowchart.html"
}
